.profile__pic{
    background-color: plum;
    text-align: center;
    height: 200px;
    margin: 5px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px  rgb(70, 5, 5);
}
.profile__pic > img{
    object-fit: contain;
    height: 90px;
    width: 90px;
    margin-right: 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px red;
}
